* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-two {
    min-width: 180px;
    width: 100%;
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    /* sdkds */
}

.Box-three {
    flex-grow: 1;
}

.Box-four {
    min-width: 180px;
    width: 100%;
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-containe {
    background-image: url(./pics/top-section_2180x750.jpg);
    height: 600px;
    background-size: cover;
    background-position: 50% 70%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px ;
}

.main-heading {
    font-size: 30px;
    font-weight: 700;
    min-width: 300px;
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.main-desc {
    font-size: 18px;
    font-weight: 500;
    min-width: 300px;
    width: 100%;
    max-width: 620px;
    text-align: center;
}

.main-btn {
    font-size: 15px;
    padding: 8px 16px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 12px;
    padding: 10px;
}

.cardOne {
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}

.cardTwo {
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}

.cardThree {
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.cardsection1 {
    display: flex;
    align-items: center;
    gap: "5px"
}

.cardsection2 {
    display: flex;
    align-items: center;
    gap: "5px";
    background-color: gray;
    padding: 3px 5px;
    border-radius: 6px;
}

.cardTwoTag {
    height: 20px;
}

.cardsection2 {
    display: flex;
    align-items: center;
}

.cardthreetag {
    height: 20px;
}

.card-desc {
    margin: 40px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.cardsection3 {
    display: flex;
    align-items: center;
    gap: "5px";
    background-color: gray;
    padding: 3px 5px;
    border-radius: 6px;
}

.cardsection4 {
    display: flex;
    align-items: center;
    gap: "5px";
    background-color: gray;
    padding: 3px 5px;
    border-radius: 6px;
}

.card-content {
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 700;
}

.tab1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0px 40px 0px;
}

.featcher-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 30px;
    column-gap: 12px;
}

.featcher-card {
    min-width: 100px;
    width: 100%;
    max-width: 340px;
    text-align: center;

}

.featcher-img {
    height: 140px;
    width: 100%;
}

.tag2 {
    font-size: 13px;
}

.Interactive {
    min-width: 100px;
    width: 100%;
    max-width: 340px;
    text-align: center;

}

.featcher-img2 {
    height: 140px;
    width: 100%;
}

.tag2 {
    font-size: 13px;
}

.Smart-Tagging {
    min-width: 100px;
    width: 100%;
    max-width: 340px;
    text-align: center;
}

.feature-img3 {
    height: 140px;
    width: 100%
}

.tag2 {
    font-size: 13px;
}

.tag1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}




.sixtag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px
}

.ClipMine-img {
    height: 180px;
    min-width: 100px;
    width: 100%;
    max-width: 360px;
    object-fit: cover;

}

.collections-container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 12px;
}

.collections-card {
    height: 180px;
    overflow: hidden;
    position: relative;
}

.collection-text {
    position: absolute;
    top: 45%;
    left: 36%;
    color: white;


}

.url1 {
    display: flex;
}

.benifit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap:40px
}

.benifit-card {
    display: flex;
    min-width: 300px;
    width: 100%;
    max-width: 800px;
    align-content: center;
    align-items: center;
    gap: 30px
}

.section2 {
    font-size: 24px;
    font-weight: 500;
}

.pop22 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0px 30px 0px; 
}

.container23 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
    gap: 30px;
    padding: 60px 10PX;

}

.classpop1 {
    min-width: 100px;
    width: 100%;
    max-width: 340px;
    justify-content: space-evenly;
    align-items: center;
}
.container225{
    text-align: center;
    flex-wrap: wrap;
}

.text1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.text2 {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 260px;
}
.text3{
    height: 40px;
    width: 120px;
}
.text4{
    width: 100%;
}
.container455{
    display: flex;
    justify-content: center;
    background-color: black;
}
.color1{
  color: white;
}



/* side bar header */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.side-header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.text4{
    height: 140px;
    width: 240px;
    object-fit: cover;
}


@media (max-width:650px) {
    .header{
        display: none;
    }
    .benifit-card{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}
@media (min-width:651px) {
    .sidebar-header-container{
        display: none;
    }
}

